*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card .letter{
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-shadow: 0px 0px 8px var(--color);
}

.card>span{
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-shadow: 0px 0px 2px;
}

.card::before{
  content: "";
  padding: 3px;
  background: linear-gradient(45deg, 
  #ff0000 0%, #ff9a00 10%,
  #d0de21 20%, #4fdc4a 30%,
  #3fdad8 40%, #2fc9e2 50%,
  #1c7fee 60%, #5f15f2 70%,
  #ba0cf8 80%, #fb07d9 90%,
  #ff0000 100%) repeat 0% 0% / 300% 100%;
  position: absolute;
  border-radius: 13px;
  inset: -5px;
  z-index: -1;
  animation: rgb 6s linear infinite;
}

.color{
  background-color: #5f15f2;
}

@keyframes rgb {
  0% {background-position: 0% 50%; }
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}